*{
    font-family:Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
  
  }
html,body{
    background-color: #181818;
  
} 
  .main{
    width: 100%;
    height: 100%;
    /* background-color: red; */
  }
  
  .header{
    padding:24px 32px;
    background-color: #111;
 
  }
  #netflix_logo{
    width: 150px;
  
   
  }
  svg {
    color: rgb(229, 9, 20);
    fill:currentColor;
  
  }
  
  .inner_header{
  
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .header_part1{
    width: 780px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  
  }
  .genre{
    width:100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: #fff;
    padding: 5px;
  
  }
  .genre a{
    font-size:1rem ;
    font-weight: 600;
    letter-spacing: 1.1px;
    text-decoration: none;
    color: #fff;
   
  }
  
  .genre select{
    width:fit-content;
    font-size:1.1rem ;
    font-weight: 500;
    letter-spacing: 1px;
    border: 1px solid grey;
    padding: 5px;
    border-radius: 5px;
    background-color: #1f1f1f;
    opacity: 75%;
    color: #fff;
  
  }
  select option{
    width:fit-content;
    font-size:1.1rem ;
    text-align: center;
    font-weight: 500;
    letter-spacing: 1px;
    border: 1px solid grey;
    padding: 5px;
    border-radius: 5px;
    background-color: #1f1f1f;
    opacity: 75%;
  }
  
  .header_part2{
    display: flex;
    justify-content: flex-end; 
    width: 600px;
    height: 32px;
  
  }
  .header_part2 a{
    margin-left: 32px;
    text-decoration: none;
    color:#111;
    font-weight: 500;
    border: 1px solid;
    border-color: red;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 75px;
    background-color:rgb(229, 9, 20);
    color: rgb(255, 255, 255);
    border-radius: 5px;
  }
  
  .header_part2 select{
    width: 125px;
    text-align: center;
    border:1px solid #f1f1f1;
    border-radius: 5px;
    background-color: #1f1f1f;
    color: #ffffff;
    background: transparent;
  }
  
.top_section{
    display: flex;
    flex-direction: column;
    height: 200px;
    width: 100%;
    background-color:#181818 ;
    width:45%;
    padding: 32px;
}

.top_section h1{
  color: #fff;
  font-size:50px ;
  font-weight: 800;
  margin:0px 0px 16px;
}
.top_section p{
    color: #fff;
    font-size:20px ;
    font-weight: 200;
  }

.vid_collection{
    height: 240px;
    width: 100%;
    color: #fff;
    padding:0 32px;
    margin-bottom: 50px;
    margin-top: 16px;
    text-transform: capitalize;
}
.vid_collection h2{
    font-size: 20px;
    font-weight: 500;

}
.vid_list{
    list-style: none;
    display: flex;
    margin: 20px 0;

}
.vid_list li{
    margin-right: 16px;
 
}

.vid_list img{
    background-size: cover;
    
}
.vid_list li span{
   display: block;
   text-align: center;
    
}

footer{
  background-color: #111;
  height: 80vh;
  position: relative;
}

footer #netflix_logo{
  padding-top: 20px;
  width: 100%;
  display:flex ;
  justify-content: center;

}

footer .list{
  height: 350px;
  width: 100%;
  font-size:1rem ;
  font-weight: 600;
  color:#696868 ;
  display:flex;
  flex-direction: row;
  align-items: center;
  margin-left: 50px;

}

.list li{
  padding: 10px 0px;
}

.footer_header{
  justify-content: flex-start;
  margin-left: 20px;
}

.footer_end{
 color:#9e9d9d ;
 margin-left: 50px;
 margin-top: 20px;
 font-size:1.2rem ;
 font-weight: 600;

}


